body {
  min-height: 100vh;
  background: white;
  color: black;
  font-weight: normal;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

a,
button {
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
    border: 2px solid red;
  }
}

[v-cloak] {
  display: none;
}

//

html {
  font-size: 10px;
}

@media screen and (max-width: 374px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  html {
    font-size: calc(10px + 10 * (100vw - 375px) / 392);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: calc(8px + 2.7 * (100vw - 768px) / 255);
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: calc(7.4px + 2 * (100vw - 1024px) / 256);
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  html {
    font-size: calc(9px + 0.5 * (100vw - 1280px) / 160);
  }
}

@media (min-width: 1440px) {
  html {
    font-size: calc((10px * (100vw - 1600px) / 240));
  }
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 400;

  @include tablet_desktop {
    font-size: 1.7rem;
    line-height: 2rem;
  }
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a,
button {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  &:focus {
    border: none;
    outline: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-quick-enter-active,
.fade-quick-leave-active {
  transition: opacity 0.02s ease;
}

.fade-quick-enter,
.fade-quick-leave-to {
  opacity: 0;
}

.list-fade-enter-active,
.list-fade-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.list-fade-enter,
.list-fade-leave-to {
  opacity: 0;
  transform: translateY(1rem);
}

.menu-components-enter-active,
.menu-components-leave-active {
  transition: opacity 0.25s ease;
}

.menu-components-enter,
.menu-components-leave-to {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s cubic-bezier(0.73, 0.45, 0.44, 0.82) 0.25s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
